* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER  */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    padding: 20px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 999;
}

header nav ul {
    display: flex;
    align-items: center;

    gap: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 3px;
}

.btn-blue {
    background-color: #2665EF;
    color: white;
}

/* // HEADER // */

/* JUMBO */

main #jumbo {
    background-color: #B7D0E8;
    padding-top: 100px;
}

h1 {
    font-size: 60px;
}

p {
    line-height: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.flex {
    display: flex;
}

.w-30 {
    flex-basis: 30%;
}

.w-70 {
    flex-basis: 70%;
}

main #jumbo .flex .w-30 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

main #jumbo .flex {
    position: relative;
    bottom: -50px;
}

main #jumbo .flex .w-30 .fa-arrow-down {
    height: 50px;
}

/* // JUNBO // */

/* BUSINESS */

.container-radio {
    padding-top: 100px;
    margin: 0 auto;

    /* background-color: lightcoral; */
    /* border: 3px solid black; */

    padding-inline: 23%;

    /* background-color: aqua; */
}

.container-radio .radiocheck {
    padding-top: 30px;
}

/* // BUSINESS // */

/* CARDS */

#container-cards {
    width: 100%;

    display: flex;
    gap: 40px;

    padding-top: 30px;
}

.cards {
    /* background-color: lightseagreen; */
    border: 1px solid gray;

    width: calc(100% / 3);

    flex-direction: column;
}

.row {
    /* background-color: red; */

    /* border: 1px solid gray; */

    display: flex;
    justify-content: center;

    gap: 10px;
    padding-top: 10px;
}

.top-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 7px;
}

.top-card ul li {
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;

    font-size: 14px;
}

hr {
    color: gray;
}

/* // CARDS // */

/* TEAM */

#container-team {
    /* background-color: lightsalmon; */
    border: 1px solid gray;
    
    display: flex;
    flex-direction: column;

    padding: 7px;
    margin-top: 50px;
}

.left {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* // TEAM // */

/* PARTNER DROPBOX */

#container-partner {
    display: flex;

    padding: 7px;
    margin-top: 70px;
}

.img-partner {
   width: 100%;
}

.text-partner {
    flex-basis: 80%;
    flex-direction: column;

    padding-inline: 5%;
    padding-top: 5%;
    gap: 30px;
    margin-bottom: 10px;
}

.text-partner p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.white {
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.now {
    color: blue;
    text-decoration: underline;
}

/* // PARTNER DROPBOX // */

/* OPERATIONS */

.title-operations {
    padding-top: 70px;
    padding-bottom: 40px;
}

#container-operations {
    width: 100%;

    display: flex;
    gap: 40px;
}

.figure {
    /* background-color: lightseagreen; */
    /* border: 1px solid gray; */

    width: calc(100% / 3);

    flex-direction: column;
}

.top-figure {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 5%;
}

#container-operations-1 {
    width: 100%;

    display: flex;
    gap: 40px;
}

.figure-1 {
    /* background-color: lightseagreen; */
    /* border: 1px solid gray; */

    width: calc(100% / 3);

    flex-direction: column;

    padding-top: 20px;
}

.top-figure-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 5%;
}

/* // OPERATIONS // */

/* CLIENTS */

.team-text {
    margin-top: 100px;
    font-size: 20px;

    margin-bottom: 50px;
}

.team-text .now {
    margin-bottom: 30px;
    font-size: 15px;
}

/* // CLIENTS // */

/* PARTNERS */

.main-container {
    display: flex;

    /* border: 1px solid black; */
}

.main-container > div {
    /* border: 1px solid red; */
    width: calc(100% / 3);

    aspect-ratio: 1;
}

.main-container .partners-col-left,
.main-container .partners-col-right {
   display: flex;
   flex-wrap: wrap;

}

.main-container .partners-col-left > div,
.main-container .partners-col-right > div {
    flex-basis: calc(100% / 2);
    /* border: 1px solid lightcoral; */

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;
}

.main-container .partners-col-left > div img,
.main-container .partners-col-right > div img {
    transform: scale(0.5);
    filter: invert(1);
}

.main-container .partners-col-center {
    background-color: #F4F5F8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.designit {
    background-color: #A2D39B;

}

.arizona {
    background-color: #61082B;
}

.florida {
    background-color: #0093CE;
}

.topps {
    background-color: red;
}

.bicycle {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely {
    background-color: #0D2481;
}

.clear {
    background-color: yellow;
}

.main-container .partners-col-center img {
    width: 80%;
}

.quote,
.cite {
    color: grey;
}

/* // PARTNERS // */

/* GRATIS */

#dropbox-business {
    height: 40vh;
    background-color: #B4D0E7;
}

.container-dropbox {
    /* background-color: lightsalmon; */
    /* border: 1px solid gray; */
    
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    margin-left: 200px;
}

.contact h2 {
    color: #61082B;
    font-size: 40px; 
}

.contact .white-1 {
    background-color: white;
    color: black;
    border: none;

    width: 250px;
    height: 40px;

    text-align: center;
    line-height: 40px;

    margin-top: 10px;
}

/* // GRATIS // */

/* QUESTIONS */

#container-question {
    width: 60%;

    margin: auto;
    margin-block: 100px;

    display: flex;
    flex-direction: column;

    gap: 40px;
}

#container-question h2 {
    font-size: 40px;
}

/* // QUESTIONS // */

footer {
    background-color: black;
    height: 70vh;

    color: white;
}