* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER  */

header {
    /* background-color: red; */
    color: black;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex .left {
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
    gap: 40px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.flex .right {
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
    gap: 40px;
    margin-left: 480px;
}

.text {
    background-color: #0061FF;
    color: white;

    width: 50px;
    line-height: 27px;

    text-align: center;
}

/* / HEADER / */

/* JUMBO */

#jumbo {
    background-color: lightskyblue;
    padding-inline: 30px;
    padding-top: 30px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

section {
    /* border: 5px dashed black; */
    padding-block: 20px;
    /* background-color: black; */

    height: 70vh;
}

section img{
    height: 55vh;
}

#jumbo .section-text{
    flex-basis: 30%;
}

.flex .img-text .jumbo {
    flex-direction: column;
    flex-basis: 40%;
}

h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
}

.start {
    background-color: #0061FF;
    color: white;

    height: 200px;
    width: 70px;

    line-height: 27px;

    text-align: center;
}

i {
    margin-top: 130px
}

/* / JUMBO / */

/* PAYMENT */


.container1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;

    background-color: lightgreen;

}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.pay {
    gap: 40px;
}


/* / PAYMENT / */

.flex .option {
    margin-top: 50px;

    border: 1px solid gray;
    width: calc((100% / 3));
    flex-direction: row;
}
