* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER  */

header {
    /* background-color: red; */
    color: black;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex .left {
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
    gap: 40px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.flex .right {
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
    gap: 40px;
    margin-left: 480px;
}

.text {
    background-color: #0061FF;
    color: white;

    width: 50px;
    line-height: 27px;

    text-align: center;
}

/* / HEADER / */

/* JUMBO */

#jumbo {
    background-color: lightskyblue;
    padding-inline: 30px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.section1 {
    /* border: 5px dashed black; */
    padding-block: 20px;
    /* background-color: black; */
    background-color: lightskyblue;

    height: 45vh; 
}

section img{
    height: 50vh;
}

.flex .section-text{
    flex-direction: column;

    flex-basis: 60%;
}

.flex .img-text .jumbo {
    flex-direction: column;
    flex-basis: 40%;
}

div > p,
h1 {
    margin: 10px;
    line-height: 25px;  
}

.start {
    background-color: #0061FF;
    color: white;

    height: 200px;
    width: 70px;
    line-height: 27px;
    
    margin: 10px;

    text-align: center;
}

section i {
    margin: 10px;
    padding: 20px;
}

/* / JUMBO / */